#controller {
	background: #383635;
	width: 100%;
	padding: 10px;
}

#controller button {
	background: #383635;
	position: relative;
	border-top: 1px solid #4d4b48;
	border-left: 1px solid #4d4b48;
	border-bottom: 1px solid #171614;
	border-right: 1px solid #171614;
	border-radius: 24px;
	-o-border-radius: 24px;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	width: 48px;
	height: 48px;
	padding: 0;
}

#controller button:hover {
	background-color: #434140 !important;
}

#controller button div {
	width: 46px;
	height: 46px;
}

#prev div {background: url('../images/back.png') no-repeat center center;}
#rw div {background: url('../images/rw.png') no-repeat center center;}
#playToggle div {background: url('../images/play.png') no-repeat center center;}
#stop div {background: url('../images/stop.png') no-repeat center center;}
#ff div {background: url('../images/ff.png') no-repeat center center;}
#next div {background: url('../images/next.png') no-repeat center center;}
#shuffle div {background: url('../images/shuffle.png') no-repeat center center;}
#volume div {background: url('../images/sound.png') no-repeat center center;}

#volume{z-index: 9001;}

#volumeSlider {
	background: #4d4b48;
	border: 2px solid white;
	border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 1px 1px 0px black;
	display: none;
	padding: 45px 0 10px 0;
	position: absolute;
	top: 34px;
	left: 380px;
	width: 30px;
	height: 116px;
	z-index: 9000;
}

#volumeSlider .ui-slider {
	position: absolute;
	left: 10px;
	background: #e6e6e6;
	border: 1px solid black;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 8px;
	height: 100px;
}

#volumeSlider .ui-slider .ui-slider-handle {
	background: rgb(188,229,251);
	border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	cursor: pointer;
	position: absolute;
	left: -2px;
	margin-bottom: -6px;
	width: 12px;
	height: 12px;
}

#slider {
	position: absolute;
	height: 48px;
}

#handle {
	background: url('../images/handle.png') no-repeat;
	cursor: pointer;
	position: absolute;
	top: 15px;
	left: 0px;
	width: 18px;
	height: 18px;
	margin-left: -9px;
}

#timer {
	cursor: pointer;
	font-size: 160%;
	font-weight: 700;
	position: absolute;
	right: 0px;
	padding: 0 20px;
	width: 70px;
	height: 48px;
	line-height: 48px;
	text-align: right;
}

.slider {
	position: absolute;
	top: 18px;
	background: #e6e6e6;
	border: 1px solid black;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
	height: 10px;
}

.pause div {background: url('../images/pause.png') no-repeat center center !important;}
.bprev div {background: url('../images/bback.png') no-repeat center center !important;}
.brw div {background: url('../images/brw.png') no-repeat center center !important;}
.bplay div {background: url('../images/bplay.png') no-repeat center center !important;}
.bstop div {background: url('../images/bstop.png') no-repeat center center !important;}
.bff div {background: url('../images/bff.png') no-repeat center center !important;}
.bnext div {background: url('../images/bnext.png') no-repeat center center !important;}
.bshuffle div {background: url('../images/bshuffle.png') no-repeat center center !important;}
.bpause div {background: url('../images/bpause.png') no-repeat center center !important;}
.bhandle {background: url('../images/bhandle.png') no-repeat center center !important;}
.bslider {background: #7baed5 !important;}
.btimer{color: #7baed5 !important;}

.click {
	border-top: 1px solid #171614;
	border-left: 1px solid #171614;
	border-bottom: 1px solid #4d4b48;
	border-right: 1px solid #4d4b48;
}