body {
	background: #171614;
	color: #e6e6e6;
	font-family: Liberation Sans, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 0px black;
	overflow: hidden;
}

button, input {cursor: pointer;}

h2 {
	font-size: 180%;
	text-align: center;
	margin: 0;
}

input[type=file] {
	opacity: 0;
	position: absolute;
	bottom: 0px;
	left: -500px;
	z-index: 0;
}

#capsule {
	min-width: 800px;
}

#drop {
	background: #171614;
	border: 3px dashed #383635;
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	position: absolute;
	padding: 20px;
	width: 364px;
	height: 256px;
	z-index: 9003;
}

#drop p {
	font-size: 130%;
}

#drop div {
	text-align: center;
}

#drop .fileInput {
	position: relative;
	top: 50px;
}

#fade {
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	z-index: 9002;
}

.fileInput {
	background: #383635;
	border: 1px solid #4d4b48;
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	font-size: 160%;
	padding: 5px;
	cursor: pointer;
}