table input[type=checkbox], table button {
	border: none;
	margin: 0;
	padding: 0;
	width: 13px;
	height: 13px;
	position: relative;
	top: 1px;
}

table {
	border-spacing: 0;
	width: 100%;
}

thead {
	display: block;
	width: 100%;
}

tbody {
	display: block;
	width: 100%;
	overflow-y: scroll;
}

tfoot td div {
	text-align: center;
}

tr {
	background: #171614;
	padding: 0;
	margin: 0;
}

th, tfoot td {
	background: #383635;
	border-top: 1px solid #4d4b48;
	border-left: 1px solid #4d4b48;
	border-bottom: 1px solid #171614;
	border-right: 1px solid #171614;
	padding: 6px 7px;
	margin: 0;
	height: 18px;
}

td {
	border-left: 1px solid #4d4b48;
	border-bottom: 1px solid #4d4b48;
	padding: 7px 8px 6px 7px;
	margin: 0;
}

td .fileInput {
	background: #434140;
	border: 1px solid #4d4b48;
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	padding: 3px 5px;
	cursor: pointer;
	position: absolute;
	right: 4px;
	bottom: 4px;
}

#delete button {background: url('../images/d1.png') no-repeat;}
#delete button:hover {background: url('../images/d2.png') no-repeat;}
.delete button {background: url('../images/d3.png') no-repeat;}
.delete button:hover {background: url('../images/d1.png') no-repeat;}

#play button {background: url('../images/p1.png') no-repeat;}
.play button {background: url('../images/p1.png') no-repeat;}
.play button:hover {background: url('../images/p2.png') no-repeat;}
.playing .play button {background: url('../images/p2.png') no-repeat;}

#check, #delete, #play, .check, .delete, .play{
	text-align: center;
}

#play button {
	cursor: default;
}

.playing {
	background: #383635;
	color: #7baed5;
	font-style: italic;
	font-weight: 700;
}

.ui-state-highlight{
	background: #7baed5;
	height: 10pt;
	line-height: 10pt;
}